@font-face {
    font-family: 'FuturaNowHeadline';
    src: url("../Fonts/FuturaNowHeadline.ttf");
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'FuturaNowHeadline', sans-serif;
    font-weight: 900;
    font-size: 60px;
}

/*All for the custom effect*/
.jigglingimage{
    width: 200px;
    cursor: pointer;
}

.jigglingimage:hover {
    animation: zoomBounce 0.5s ease normal forwards;
}

@keyframes zoomBounce {
    0% {
        transform: scale(1);
        animation-timing-function: ease-in;
    }

    25% {
        transform: scale(1.2) rotate(-2.5deg);
        animation-timing-function: ease;
    }

    100% {
        transform: scale(1) rotate(5deg);
        animation-timing-function: ease-out;
    }
}